/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */
 
.getcher-twitter-feed ul li {
    list-style: none;
    margin-bottom: 20px;
}

.twscroll {
	overflow: hidden;
	overflow-y: auto;
}